/* Section Cover de todas las internas, es solo cambiar la imagen*/
section.coverInternas {
  background-image: url(../assets/Banners/Busqueda.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  div.wrap {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(16, 24, 49, 1)
    );
    h1 {
      font-size: 6.2em;
      text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    }
    p {
      margin-top: -0.5em;
      font-size: 1.2em;
      text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

/* Barra de busqueda (BUSCADOR) */
section.busqueda.main {
  div.row.buscador {
    form.Buscador {
      label {
        font-family: $FuenteBebas;
        color: $FormBlue;
      }
      button {
        background-color: $MainBlue;
        border-color: $MainBlue;
        &:hover {
          background-color: rgb(0, 77, 128);
          border-color: rgb(0, 77, 128);
        }
      }
      box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
    }
    p {
      font-size: 1.2em;
    }
  }
}

/* RESULTADOS DE BUSQUEDA */
.px-6 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}
section.resultados {
  h2 {
    color: $MainBlue;
    font-size: 4.5em;
  }
  hr.Barra {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin-bottom: 1.5rem;
  }
  a.btn-primary {
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 2.2em;
    position: absolute;
    font-family: $FuenteBebas;
    background-color: transparent;
    bottom: 0px;
    right: 0px;
    border: none;
    &:hover {
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 40%,
        rgba(255, 255, 255, 0) 60%
      );
      //background-color: rgba(0, 0, 0, 0.2);
    }
    p {
      display: inline-block;
      height: 100%;
      margin: 0;
    }
  }
  a.btn-secundary {
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 2.2em;
    position: absolute;
    font-family: $FuenteBebas;
    background-color: transparent;
    bottom: 0px;
    right: 0px;
    border: none;
    &:hover {
      background-color: transparent;
    }
    p {
      display: inline-block;
      height: 100%;
      margin: 0;
    }
  }
  .card {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.08);
    img.card-img-top {
      height: 365px !important;
      object-fit: none;
    }
    img.tipo {
      width: 40px;
      top: 18px;
      left: 208px;
    }
    .card-body {
      h2 {
        font-size: 2.2em;
      }
      div.customtext {
        p.Icons {
          font-size: 1.3em;
          i {
            font-size: 1.1em;
            padding: 0px 9px;
          }
        }
        p {
          font-size: 1.2em;
        }
      }
    }
  }
  nav {
    ul {
      li.active {
        button {
          background-color: $SecondBlue !important;
          color: white !important;
        }
      }
      button.page-link {
        border-radius: 10px;
        border: none;
        text-shadow: none;
        font-family: $FuenteBebas !important;
        color: #939393;
        font-size: 1.2em;
        letter-spacing: 1px;
        &:hover {
          background-color: $SecondBlue;
          color: white;
        }
      }
    }
  }
}
/* 1630px */
@media (max-width: 1630px) {
  /* Resultados SECTION */
  section.resultados {
    hr.Barra {
      height: 3px;
      margin-bottom: 1.5rem;
    }
    a.btn-primary {
      font-size: 2.2em;
    }
    a.btn-secundary {
      font-size: 2.2em;
    }
    .card {
      .card-body {
        h2 {
          font-size: 1.5em;
        }
        h3 {
          font-size: 1.5em;
        }
        div.customtext {
          p.Icons {
            font-size: 1em;
            i {
              font-size: 1em;
              padding: 0px 9px;
            }
          }
          p {
            font-size: 1em;
          }
        }
      }
    }
  }
}
/* 1200px */
@media (min-width: $BreakPointExtraLarge) {
}
@media (max-width: $BreakPointExtraLarge) {
  section.resultados {
    .card {
      img.tipo {
        top: 18px;
        left: 135px;
      }
    }
  }
}
/* 992px */
@media (min-width: $BreakPointLarge) {
}
@media (max-width: $BreakPointLarge) {
  /* Resultados SECTION */
  section.resultados {
    hr.Barra {
      height: 3px;
      margin-bottom: 1.5rem;
    }
    a.btn-primary {
      font-size: 3.5em;
    }
    a.btn-secundary {
      font-size: 3.5em;
    }
    .card {
      img.tipo {
        top: 25px;
        left: 225px;
      }
      .card-body {
        h2 {
          font-size: 3em;
        }
        h3 {
          font-size: 3em;
        }
        div.customtext {
          p.Icons {
            font-size: 1.5em;
            i {
              font-size: 1em;
              padding: 0px 9px;
            }
          }
          p {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
/* 768px */
@media (min-width: $BreakPointMedium) {
}
@media (max-width: $BreakPointMedium) {
  /* Resultados SECTION */
  section.resultados {
    a.btn-primary {
      font-size: 3em;
    }
    a.btn-secundary {
      font-size: 3em;
    }
    .card {
      img.tipo {
        top: 18px;
        left: 190px;
      }
      .card-body {
        h2 {
          font-size: 2em;
        }
        h3 {
          font-size: 2em;
        }
        div.customtext {
          p.Icons {
            font-size: 1em;
            i {
              font-size: 1em;
              padding: 0px 9px;
            }
          }
          p {
            font-size: 1em;
          }
        }
      }
    }
  }
}
/* 576px */
@media (min-width: $BreakPointSmall) {
}
@media (max-width: $BreakPointSmall) {
  section.coverInternas {
    div.wrap {
      h1 {
        font-size: 4.5em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }
  section.resultados {
    a.btn-primary {
      font-size: 2em;
    }
    a.btn-secundary {
      font-size: 2em;
    }
    .card {
      img.tipo {
        top: 16px;
        left: 138px;
        width: 25px;
      }
      .card-body {
        h2 {
          font-size: 1.5em;
        }
        h3 {
          font-size: 1.5em;
        }
        div.customtext {
          p.Icons {
            font-size: 0.8em;
            i {
              font-size: 1em;
              padding: 0px 9px;
            }
          }
          p {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
/* 380px */
@media (max-width: 380px) {
  section.resultados {
    a.btn-primary {
      font-size: 1.5em;
    }
    a.btn-secundary {
      font-size: 1.5em;
    }
    .card {
      img.tipo {
        top: 12px;
        left: 106px;
      }
      .card-body {
        h2 {
          font-size: 1em;
        }
        h3 {
          font-size: 1em;
        }
        div.customtext {
          p.Icons {
            font-size: 0.5em;
            i {
              font-size: 1em;
              padding: 0px 9px;
            }
          }
          p {
            font-size: 0.5em;
          }
        }
      }
    }
  }
}
