/* MAIN COVER STYLES */
section.main.cover {
  background-image: url(../assets/Home/Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  h1 {
    position: absolute;
    font-size: 6.5em;
    text-shadow: 1px 2px 6px black;
    line-height: 0.8em;
    bottom: 125px;
    left: 200px;
    span {
      font-size: 0.8em;
    }
  }
  form.HomeBuscador {
    width: 80%;
    position: absolute;
    bottom: 325px;
    left: 200px;
    label {
      color: $MainBlue;
      font-family: $FuenteBebas;
      font-size: 1.2em;
    }
    input,
    select {
      min-height: 45px;
    }
    button {
      background-color: $MainBlue;
      border-color: $MainBlue;
      &:hover {
        background-color: rgb(0, 77, 128);
        border-color: rgb(0, 77, 128);
      }
    }
  }
}

/* CRRUSEL STYLES */
.px-6 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}
section.destacados {
  h2 {
    color: $MainBlue;
    font-size: 4.5em;
  }
  hr.Barra {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin-bottom: 1.5rem;
  }
  a.btn-primary {
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 2.2em;
    position: absolute;
    font-family: $FuenteBebas;
    background-color: transparent;
    bottom: 0px;
    right: 0;
    border: none;
    line-height: 645px;
    &:hover {
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 40%,
        rgba(255, 255, 255, 0) 60%
      );
      //background-color: rgba(0, 0, 0, 0.2);
    }
    p {
      display: inline-block;
      height: 100%;
      margin: 0;
    }
  }
  a.btn-secundary {
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 2.2em;
    position: absolute;
    font-family: $FuenteBebas;
    background-color: transparent;
    bottom: 0px;
    right: 0;
    border: none;
    line-height: 645px;
    &:hover {
      background-color: transparent;
    }
    p {
      display: inline-block;
      height: 100%;
      margin: 0;
    }
  }
  .card-body {
    div.customtext {
      p.Icons {
        font-size: 1.3em;
        i {
          font-size: 1.1em;
          padding: 0px 9px;
        }
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
.card {
  border: none;
  border-radius: 0;
}
.controls-top {
  text-align: right;
  position: relative;
  top: 0px;
  z-index: 2;
  left: 0px;
}
a.btn-floating {
  color: white;
  border: solid 2px white;
  display: inline-block;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 28px;
  border-radius: 21px;
  font-size: 27px;
  position: absolute;
  top: -40px;
  right: 0px;
  background-color: $MainBlue;
  transition: all 0.3s;
  &:hover {
    background-color: white;
    color: grey;
    text-decoration: none;
  }
}
a.btn-floating.prev {
  right: 40px;
  text-indent: -2px;
}
a.btn-floating.next {
  text-indent: 2px;
}
ol.carousel-indicators.destacados {
  bottom: -70px;
  li {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    background-color: $SecondBlue;
  }
}
div.h-7em {
  height: 7em;
}

/* SECTION FORMULARIO */
section.Formulario {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 96, 162, 1),
    rgba(255, 255, 255, 0)
  );
  div.Caption {
    top: 130px;
    left: 490px;
    h3 {
      font-size: 4em;
      text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    }
    p {
      font-size: 2em;
      font-weight: map-get($FontWeights, w400);
      text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    }
  }
  div.contactoForm {
    margin-top: 8em;
    margin-right: 16em;
    margin-left: -10em;
    background-color: white;
    h2 {
      font-size: 5em;
    }
    label {
      font-family: $FuenteBebas;
      color: $FormBlue;
    }
    button {
      font-size: 1.3em;
      font-weight: map-get($FontWeights, w600);
      background-color: $MainBlue;
      border-color: $MainBlue;
      &:hover {
        background-color: rgb(0, 77, 128);
        border-color: rgb(0, 77, 128);
      }
    }
    hr {
      height: 2px;
      background-color: rgba(0, 0, 0, 0.8);
      border: none;
    }
  }
}

/* SECTION MAP */
section.Map {
  div.caption {
    h2 {
      font-size: 3.5em;
      color: $SecondBlue;
    }
  }
  div.direccion {
    h3 {
      font-family: $FuenteMontserrat;
      font-weight: map-get($FontWeights, w700);
      color: $MainBlue;
    }
    p {
      font-size: 1.1em;
    }
  }
  button {
    background-color: $MainBlue;
    border-color: $MainBlue;
    &:hover {
      background-color: #004d80;
      border-color: #004d80;
    }
  }
  a.redIcon {
    &:hover {
      font-size: 2em;
    }
  }
}
