$MainBlue: #0060a2;
$SecondBlue: #4f76b0;
$MenuTitleTextBlue: #00354c;

$icomoon-font-family: "IconosHL" !default;
$icomoon-font-path: "../assets/fonts" !default;

$icon-Banos: "\e900";
$icon-Dormitorios: "\e901";
$icon-Parqueaderos: "\e902";

$FuenteMontserrat: "Montserrat", sans-serif;
$FuenteBebas: "Bebas Neue", cursive;
$BreakPointSmall: 576px;
$BreakPointMedium: 768px;
$BreakPointLarge: 992px;
$BreakPointExtraLarge: 1200px;

$FontWeights: (
  w100: 100,
  w200: 200,
  w300: 300,
  w400: 400,
  w500: 500,
  w600: 600,
  w700: 700,
  w800: 800,
  w900: 900,
);

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?liy16o");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?liy16o#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?liy16o")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?liy16o")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?liy16o##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Banos {
  &:before {
    content: $icon-Banos;
  }
}
.icon-Dormitorios {
  &:before {
    content: $icon-Dormitorios;
  }
}
.icon-Parqueaderos {
  &:before {
    content: $icon-Parqueaderos;
  }
}
.color-primary {
  color: $MainBlue !important;
}
body {
  font-family: $FuenteMontserrat;
}
h1,
h2,
h3,
h4.h5,
h6 {
  font-family: $FuenteBebas;
}

/* HEADER NAVBAR STYLES*/
header.NavBar {
  a.Logo {
    width: 11%;
  }
  nav.navbar {
    box-shadow: 0px 8px 50px 10px rgba(0, 0, 0, 0.3);
  }
  ul.navbar-nav a {
    font-family: $FuenteMontserrat;
    font-weight: map-get($FontWeights, w400);
    color: $MenuTitleTextBlue !important;
    &:hover {
      color: $SecondBlue !important;
    }
  }
  li.nav-item.active a {
    font-weight: map-get($FontWeights, w500);
  }
  div.ServiciosDropDown {
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    hr {
      background-color: rgba(79, 118, 176, 0.3);
    }
  }
}
/* MAIN COVER STYLES */
section.main.cover {
  background-image: url(../assets/Home/Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  h1 {
    position: absolute;
    font-size: 6.5em;
    text-shadow: 1px 2px 6px black;
    line-height: 0.8em;
    bottom: 125px;
    left: 200px;
    span {
      font-size: 0.8em;
    }
  }
  form.HomeBuscador {
    width: 80%;
    position: absolute;
    bottom: 325px;
    left: 200px;
    label {
      color: $MainBlue;
      font-family: $FuenteBebas;
      font-size: 1.2em;
    }
    input,
    select {
      min-height: 45px;
    }
    button {
      background-color: $MainBlue;
      border-color: $MainBlue;
      &:hover {
        background-color: rgb(0, 77, 128);
        border-color: rgb(0, 77, 128);
      }
    }
  }
}

/* CRRUSEL STYLES */
.px-6 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}
section.destacados {
  h2 {
    color: $MainBlue;
    font-size: 4.5em;
  }
  hr.Barra {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin-bottom: 1.5rem;
  }
  a.btn-primary {
    font-size: 2.2em;
    position: absolute;
    font-family: $FuenteBebas;
    background-color: transparent;
    bottom: 0px;
    right: 0;
    border: none;
    line-height: 645px;
    &:hover {
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 40%,
        rgba(255, 255, 255, 0) 60%
      );
      //background-color: rgba(0, 0, 0, 0.2);
    }
  }
  a.btn-secundary {
    font-size: 2.2em;
    position: absolute;
    font-family: $FuenteBebas;
    background-color: transparent;
    bottom: 0px;
    right: 0;
    border: none;
    line-height: 645px;
    &:hover {
      background-color: transparent;
    }
  }
  .card-body {
    div.customtext {
      p.Icons {
        font-size: 1.3em;
        i {
          font-size: 1.1em;
          padding: 0px 9px;
        }
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
.card {
  border: none;
  border-radius: 0;
}
.controls-top {
  text-align: right;
  position: relative;
  top: 0px;
  z-index: 2;
  left: 0px;
}
a.btn-floating {
  color: white;
  border: solid 2px white;
  display: inline-block;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 28px;
  border-radius: 21px;
  font-size: 27px;
  position: absolute;
  top: -40px;
  right: 0px;
  background-color: $MainBlue;
  transition: all 0.3s;
  &:hover {
    background-color: white;
    color: grey;
    text-decoration: none;
  }
}
a.btn-floating.prev {
  right: 40px;
  text-indent: -2px;
}
a.btn-floating.next {
  text-indent: 2px;
}
ol.carousel-indicators.destacados {
  bottom: -70px;
  li {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    background-color: $SecondBlue;
  }
}
div.h-7em {
  height: 7em;
}
/* SECTION FORMULARIO */
section.Formulario {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 96, 162, 1),
    rgba(255, 255, 255, 0)
  );
  div.Caption {
    top: 130px;
    left: 490px;
    h3 {
      font-size: 4em;
      text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    }
    p {
      font-size: 2em;
      font-weight: map-get($FontWeights, w400);
      text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    }
  }
}
/* SECTION MAP */
section.Map {
  div.caption {
    h2 {
      font-size: 3.5em;
      color: $SecondBlue;
    }
  }
  div.direccion {
    h3 {
      font-family: $FuenteMontserrat;
      font-weight: map-get($FontWeights, w700);
      color: $MainBlue;
    }
    p {
      font-size: 1.1em;
    }
  }
  button {
    background-color: $MainBlue;
    border-color: $MainBlue;
    &:hover {
      background-color: #004d80;
      border-color: #004d80;
    }
  }
}
/* FOOTER STYLES */
footer {
  background-color: $SecondBlue;
  a {
    font-weight: map-get($FontWeights, w600);
  }
  span {
    font-weight: map-get($FontWeights, w400);
  }
  div.bg_blue {
    background-color: $MainBlue;
  }
}

@media (max-width: $BreakPointExtraLarge) {
  header.NavBar {
    div.ServiciosDropDown {
      box-shadow: none !important;
    }
  }
}
