@charset "UTF-8";
/* Variables */
@font-face {
  font-family: "IconosHL";
  src: url("../assets/fonts/IconosHL.eot?liy16o");
  src: url("../assets/fonts/IconosHL.eot?liy16o#iefix") format("embedded-opentype"), url("../assets/fonts/IconosHL.ttf?liy16o") format("truetype"), url("../assets/fonts/IconosHL.woff?liy16o") format("woff"), url("../assets/fonts/IconosHL.svg?liy16o#IconosHL") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "IconosHL" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Banos:before {
  content: "";
}

.icon-Dormitorios:before {
  content: "";
}

.icon-Parqueaderos:before {
  content: "";
}

.color-primary {
  color: #0060a2 !important;
}

.color-FormBlue {
  color: #394d7c !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #394d7c;
  border-radius: 5px;
}

/* HEADER NAVBAR STYLES*/
header.NavBar a.Logo {
  width: 11%;
}

header.NavBar nav.navbar {
  box-shadow: 0px 8px 50px 10px rgba(0, 0, 0, 0.2);
}

header.NavBar ul.navbar-nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #00354c !important;
}

header.NavBar ul.navbar-nav a:hover {
  color: #4f76b0 !important;
}

header.NavBar li.nav-item.active a {
  font-weight: 500;
}

header.NavBar div.ServiciosDropDown {
  border: none;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

header.NavBar div.ServiciosDropDown hr {
  background-color: rgba(79, 118, 176, 0.3);
}

/* 576px */
/* 768px */
@media (max-width: 768px) {
  header.NavBar button.navbar-toggler {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }
  header.NavBar a.Logo {
    width: 25%;
  }
}

/* 992px */
/* 1200px */
@media (max-width: 1200px) {
  header.NavBar div.ServiciosDropDown {
    box-shadow: none !important;
  }
}

/* 1620px */
@media (max-width: 1620px) {
  header.NavBar a {
    font-size: 0.8em !important;
  }
}

/* FOOTER STYLES */
footer {
  background-color: #4f76b0;
}

footer a {
  font-weight: 600;
}

footer span {
  font-weight: 400;
}

footer div.bg_blue {
  background-color: #0060a2;
}

/* 1200px */
@media (max-width: 1200px) {
  footer {
    font-size: 0.9em;
  }
  footer div.logo {
    width: 100% !important;
  }
}

/* 992px */
@media (max-width: 992px) {
  footer div.logo {
    width: 90% !important;
  }
}

/* 768px */
/* 576px */
@media (max-width: 576px) {
  footer div.text {
    text-align: center;
  }
  footer div.text a,
  footer div.text span {
    font-size: 0.8em !important;
  }
}

/* Estilos de la HOME PAGE */
/* MAIN COVER STYLES */
section.main.cover {
  background-image: url(../assets/Home/Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

section.main.cover h1 {
  position: absolute;
  font-size: 6.5em;
  text-shadow: 1px 2px 6px black;
  line-height: 0.8em;
  bottom: 125px;
  left: 200px;
}

section.main.cover h1 span {
  font-size: 0.8em;
}

section.main.cover form.HomeBuscador {
  width: 80%;
  position: absolute;
  bottom: 325px;
  left: 200px;
}

section.main.cover form.HomeBuscador label {
  color: #0060a2;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
}

section.main.cover form.HomeBuscador input,
section.main.cover form.HomeBuscador select {
  min-height: 45px;
}

section.main.cover form.HomeBuscador button {
  background-color: #0060a2;
  border-color: #0060a2;
}

section.main.cover form.HomeBuscador button:hover {
  background-color: #004d80;
  border-color: #004d80;
}

/* CRRUSEL STYLES */
.px-6 {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

section.destacados h2 {
  color: #0060a2;
  font-size: 4.5em;
}

section.destacados hr.Barra {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-bottom: 1.5rem;
}

section.destacados a.btn-primary {
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 2.2em;
  position: absolute;
  font-family: "Bebas Neue", cursive;
  background-color: transparent;
  bottom: 0px;
  right: 0px;
  border: none;
}

section.destacados a.btn-primary:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 40%, rgba(255, 255, 255, 0) 60%);
}

section.destacados a.btn-primary p {
  display: inline-block;
  height: 100%;
  margin: 0;
}

section.destacados a.btn-secundary {
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 2.2em;
  position: absolute;
  font-family: "Bebas Neue", cursive;
  background-color: transparent;
  bottom: 0px;
  right: 0px;
  border: none;
}

section.destacados a.btn-secundary:hover {
  background-color: transparent;
}

section.destacados a.btn-secundary p {
  display: inline-block;
  height: 100%;
  margin: 0;
}

section.destacados .card-body div.customtext p.Icons {
  font-size: 1.3em;
}

section.destacados .card-body div.customtext p.Icons i {
  font-size: 1.1em;
  padding: 0px 9px;
}

section.destacados .card-body div.customtext p {
  font-size: 1.2em;
}

.card {
  border: none;
  border-radius: 0;
}

.controls-top {
  text-align: right;
  position: relative;
  top: 0px;
  z-index: 2;
  left: 0px;
}

a.btn-floating {
  color: white;
  border: solid 2px white;
  display: inline-block;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 28px;
  border-radius: 21px;
  font-size: 27px;
  position: absolute;
  top: -40px;
  right: 0px;
  background-color: #0060a2;
  transition: all 0.3s;
}

a.btn-floating:hover {
  background-color: white;
  color: grey;
  text-decoration: none;
}

a.btn-floating.prev {
  right: 40px;
  text-indent: -2px;
}

a.btn-floating.next {
  text-indent: 2px;
}

ol.carousel-indicators.destacados {
  bottom: -70px;
}

ol.carousel-indicators.destacados li {
  width: 25px;
  height: 25px;
  margin: 0px 10px;
  background-color: #4f76b0;
}

div.h-7em {
  height: 7em;
}

/* SECTION FORMULARIO */
section.Formulario {
  background-image: linear-gradient(to bottom, #0060a2, rgba(255, 255, 255, 0));
}

section.Formulario div.Caption {
  top: 130px;
  left: 490px;
}

section.Formulario div.Caption h3 {
  font-size: 4em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

section.Formulario div.Caption p {
  font-size: 2em;
  font-weight: 400;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

section.Formulario div.contactoForm {
  margin-top: 8em;
  margin-right: 16em;
  margin-left: -10em;
  background-color: white;
}

section.Formulario div.contactoForm h2 {
  font-size: 5em;
}

section.Formulario div.contactoForm label {
  font-family: "Bebas Neue", cursive;
  color: #394d7c;
}

section.Formulario div.contactoForm button {
  font-size: 1.3em;
  font-weight: 600;
  background-color: #0060a2;
  border-color: #0060a2;
}

section.Formulario div.contactoForm button:hover {
  background-color: #004d80;
  border-color: #004d80;
}

section.Formulario div.contactoForm hr {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

/* SECTION MAP */
section.Map div.caption h2 {
  font-size: 3.5em;
  color: #4f76b0;
}

section.Map div.direccion h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #0060a2;
}

section.Map div.direccion p {
  font-size: 1.1em;
}

section.Map button {
  background-color: #0060a2;
  border-color: #0060a2;
}

section.Map button:hover {
  background-color: #004d80;
  border-color: #004d80;
}

section.Map a.redIcon:hover {
  font-size: 2em;
}

@media (max-width: 1630px) {
  /* DESTACADOS SECTION */
  section.destacados h2 {
    font-size: 4.5em;
  }
  section.destacados h3 {
    font-size: 1.5em;
  }
  section.destacados hr.Barra {
    height: 3px;
    margin-bottom: 1.5rem;
  }
  section.destacados a.btn-primary {
    font-size: 2.2em;
    bottom: 0px;
    right: 0px;
    border: none;
  }
  section.destacados a.btn-secundary {
    font-size: 2.2em;
    bottom: 0px;
    right: 0;
  }
  section.destacados .card-body div.customtext p.Icons {
    font-size: 1em;
  }
  section.destacados .card-body div.customtext p.Icons i {
    font-size: 1em;
    padding: 0px 9px;
  }
  section.destacados .card-body div.customtext p {
    font-size: 1em;
  }
  div.h-7em {
    height: 9em;
  }
  /* FORMULARIO SECTION */
  section.Formulario div.contactoForm {
    margin-right: 1em;
    margin-left: -22em;
  }
  section.Formulario div.Caption {
    top: 130px;
    left: 430px;
  }
  section.Formulario div.Caption h3 {
    font-size: 3em;
  }
  section.Formulario div.Caption p {
    font-size: 1.5em;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  /* DESTACADOS SECTION */
  section.destacados h2 {
    font-size: 4.5em;
  }
  section.destacados h3 {
    font-size: 1.5em;
  }
  section.destacados hr.Barra {
    height: 3px;
    margin-bottom: 1.5rem;
  }
  section.destacados a.btn-primary {
    font-size: 2.2em;
    bottom: 0px;
    right: 0px;
    border: none;
  }
  section.destacados a.btn-secundary {
    font-size: 2.2em;
    bottom: 0px;
    right: 0;
  }
  section.destacados .card-body div.customtext p.Icons {
    font-size: 1em;
  }
  section.destacados .card-body div.customtext p.Icons i {
    font-size: 1em;
    padding: 0px 9px;
  }
  section.destacados .card-body div.customtext p {
    font-size: 1em;
  }
  div.h-7em {
    height: 100%;
  }
  /* MAIN COVER STYLES */
  section.main.cover h1 {
    font-size: 5.5em;
    bottom: 125px;
    left: 100px;
  }
  section.main.cover form.HomeBuscador {
    width: 80%;
    bottom: 325px;
    left: 100px;
  }
  section.main.cover form.HomeBuscador label {
    font-size: 1.2em;
  }
  section.main.cover form.HomeBuscador input,
  section.main.cover form.HomeBuscador select {
    min-height: 35px;
  }
  /* FORMULARIO SECTION */
  section.Formulario div.contactoForm {
    margin-top: 2em;
    margin-right: 0;
    margin-left: 0;
  }
  section.Formulario div.Caption {
    text-align: center;
    position: relative !important;
    top: 0px;
    left: 0px;
  }
  section.Formulario div.Caption h3 {
    font-size: 4em;
  }
  section.Formulario div.Caption p {
    font-size: 2em;
  }
  section.Formulario img {
    display: none;
  }
  section.Map div.jumbotron.texthash {
    width: 75% !important;
  }
  section.Map div.caption h2 {
    font-size: 2.5em;
  }
}

/* 992px */
@media (max-width: 992px) {
  section.destacados.px-6 {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
  section.Map div.jumbotron.texthash {
    width: 80% !important;
  }
  section.Map div.caption h2 {
    text-align: center;
    font-size: 3.5em;
  }
  section.Map a.redIcon:hover {
    font-size: 2em;
  }
  section.Map img.mapa {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/* 768px */
@media (max-width: 768px) {
  section.destacados h2 {
    font-size: 3.5em;
  }
  section.destacados h3 {
    font-size: 2em;
  }
  section.destacados hr.Barra {
    height: 3px;
    margin-bottom: 1.5rem;
  }
  section.destacados a.btn-primary {
    font-size: 3.2em !important;
  }
  section.destacados a.btn-secundary {
    font-size: 3.2em !important;
  }
  section.destacados .card-body div.customtext p.Icons {
    font-size: 1em;
  }
  section.destacados .card-body div.customtext p.Icons i {
    font-size: 1em;
    padding: 0px 9px;
  }
  section.destacados .card-body div.customtext p {
    font-size: 1em;
  }
  section.destacados.px-6 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
  /* MAIN COVER STYLES */
  section.main.cover h1 {
    font-size: 4.5em;
    bottom: 75px;
    left: 65px;
  }
  section.main.cover form.HomeBuscador {
    width: 80%;
    bottom: 235px;
    left: 65px;
  }
  section.main.cover form.HomeBuscador label {
    font-size: 1.2em;
  }
  /* MAP SECTION */
  section.Map div.jumbotron.texthash {
    width: 85% !important;
  }
  section.Map div.caption h2 {
    font-size: 2.8em;
  }
}

/* 576px */
@media (max-width: 576px) {
  section.destacados h2 {
    font-size: 2.5em;
  }
  section.destacados h3 {
    font-size: 1.5em;
  }
  section.destacados a.btn-primary {
    font-size: 2em !important;
  }
  section.destacados a.btn-secundary {
    font-size: 2em !important;
  }
  section.destacados .card-body div.customtext p.Icons {
    font-size: 0.8em;
  }
  section.destacados .card-body div.customtext p.Icons i {
    font-size: 0.8em;
    padding: 0px 9px;
  }
  section.destacados .card-body div.customtext p {
    font-size: 0.8em;
  }
  section.destacados.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  /* MAIN COVER STYLES */
  section.main.cover {
    height: 800px !important;
  }
  section.main.cover h1 {
    margin-bottom: 0px;
    font-size: 2.8em;
    bottom: 135px;
    left: 38px;
  }
  section.main.cover form.HomeBuscador {
    width: 80%;
    bottom: 235px;
    left: 38px;
  }
  section.main.cover form.HomeBuscador label {
    font-size: 1.2em;
  }
  section.Formulario div.Caption h3 {
    font-size: 2.5em;
  }
  section.Formulario div.Caption p {
    font-size: 1em;
  }
  section.Formulario div.contactoForm h2 {
    font-size: 3.5em;
  }
  section.Map div.jumbotron.texthash {
    width: 85% !important;
  }
  section.Map div.caption h2 {
    font-size: 2.5em;
  }
  section.Map div.direccion h3,
  section.Map div.direccion p {
    font-size: 1em;
  }
}

@media (max-width: 380px) {
  section.destacados h2 {
    font-size: 2.5em;
  }
  section.destacados h3 {
    font-size: 1em;
  }
  section.destacados a.btn-primary {
    font-size: 2em !important;
  }
  section.destacados a.btn-secundary {
    font-size: 2em !important;
  }
  section.destacados .card-body p {
    font-size: 0.9em;
  }
  section.destacados .card-body div.customtext p.Icons {
    font-size: 0.8em;
  }
  section.destacados .card-body div.customtext p.Icons i {
    font-size: 0.8em;
    padding: 0px 9px;
  }
  section.destacados .card-body div.customtext p {
    font-size: 0.8em;
  }
}

/* Estilos de las Paginas de Busquedas */
/* Section Cover de todas las internas, es solo cambiar la imagen*/
section.coverInternas {
  background-image: url(../assets/Banners/Busqueda.jpg);
  background-position: center;
  background-size: cover;
  height: 420px;
}

section.coverInternas div.wrap {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #101831);
}

section.coverInternas div.wrap h1 {
  font-size: 6.2em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

section.coverInternas div.wrap p {
  margin-top: -0.5em;
  font-size: 1.2em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Barra de busqueda (BUSCADOR) */
section.busqueda.main div.row.buscador form.Buscador {
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
}

section.busqueda.main div.row.buscador form.Buscador label {
  font-family: "Bebas Neue", cursive;
  color: #394d7c;
}

section.busqueda.main div.row.buscador form.Buscador button {
  background-color: #0060a2;
  border-color: #0060a2;
}

section.busqueda.main div.row.buscador form.Buscador button:hover {
  background-color: #004d80;
  border-color: #004d80;
}

section.busqueda.main div.row.buscador p {
  font-size: 1.2em;
}

/* RESULTADOS DE BUSQUEDA */
.px-6 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}

section.resultados h2 {
  color: #0060a2;
  font-size: 4.5em;
}

section.resultados hr.Barra {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-bottom: 1.5rem;
}

section.resultados a.btn-primary {
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 2.2em;
  position: absolute;
  font-family: "Bebas Neue", cursive;
  background-color: transparent;
  bottom: 0px;
  right: 0;
  border: none;
  line-height: 645px;
}

section.resultados a.btn-primary:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 40%, rgba(255, 255, 255, 0) 60%);
}

section.resultados a.btn-primary p {
  display: inline-block;
  height: 100%;
  margin: 0;
}

section.resultados a.btn-secundary {
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 2.2em;
  position: absolute;
  font-family: "Bebas Neue", cursive;
  background-color: transparent;
  bottom: 0px;
  right: 0;
  border: none;
  line-height: 645px;
}

section.resultados a.btn-secundary:hover {
  background-color: transparent;
}

section.resultados a.btn-secundary p {
  display: inline-block;
  height: 100%;
  margin: 0;
}

section.resultados .card {
  border: none;
  border-radius: 0;
}

section.resultados .card .card-body h2 {
  font-size: 2.2em;
}

section.resultados .card .card-body div.customtext p.Icons {
  font-size: 1.3em;
}

section.resultados .card .card-body div.customtext p.Icons i {
  font-size: 1.1em;
  padding: 0px 9px;
}

section.resultados .card .card-body div.customtext p {
  font-size: 1.2em;
}

section.resultados nav ul li.active a {
  background-color: #4f76b0 !important;
  color: white !important;
}

section.resultados nav ul a.page-link {
  border-radius: 10px;
  border: none;
  text-shadow: none;
  font-family: "Bebas Neue", cursive !important;
  color: #939393;
  font-size: 1.2em;
  letter-spacing: 1px;
}

section.resultados nav ul a.page-link:hover {
  background-color: #4f76b0;
  color: white;
}

section.MainDetalle {
  background-color: white;
  background-position: center;
  background-size: cover;
  height: 320px;
}

section.MainDetalle div.row div.detail {
  height: 150px;
}

section.MainDetalle div.row div.separador {
  width: 3px;
  height: 75%;
  background-color: #4f76b0;
  position: absolute;
  right: 0;
  top: 20px;
}

section.MainDetalle div.row h1 {
  color: #0060a2;
  font-size: 4em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
}

section.MainDetalle div.row h1.price {
  font-size: 6em;
}

section.MainDetalle div.row h2 {
  margin-top: -0.3em !important;
  color: #4f76b0;
  font-size: 2.5em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
}

section.MainDetalle div.row p {
  font-size: 1.8em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
}

section.MainDetalle div.row p.text {
  font-size: 1.6em;
}

section.ubicacion h2 {
  color: #0060a2;
  font-size: 4em;
}

section.ubicacion hr.Barra {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-bottom: 1.5rem;
}

section.ubicacion iframe {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

section.Detalle li {
  font-size: 18px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style-type: square;
  list-style-image: url(../assets/Bullet.jpg);
}

section.Detalle img.icon {
  height: 100%;
}

section.Detalle p {
  font-size: 18px;
}

section.Detalle p.asesor {
  font-size: 1em;
}

section.Detalle h2 {
  color: #0060a2;
  font-size: 2.5em;
}

section.Detalle h3 {
  margin-bottom: -0.3em !important;
  color: #0060a2;
  font-size: 4em;
}

section.Detalle h4 {
  margin-bottom: -0.3em !important;
  color: #0060a2;
  font-size: 3em;
}

section.Detalle h4.asesor {
  font-size: 2.5em;
}

section.Detalle h5 {
  color: #0060a2;
  font-size: 2em;
}

section.Detalle hr.Barra {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-bottom: 1.5rem;
}

section.Detalle hr.Barra.caracteristica {
  margin-bottom: 1rem;
}

section.Detalle button {
  background-color: #0060a2;
  border-color: #0060a2;
}

section.Detalle button:hover {
  background-color: #004d80;
  border-color: #004d80;
}

section.Detalle div.ListaCaracteristicas p,
section.Detalle div.ListaCaracteristicas span {
  font-size: 16px;
  display: inline-block;
}

section.galeria .controls-top {
  text-align: right;
  position: relative;
  top: 0px;
  z-index: 2;
  left: 0px;
}

section.galeria a.btn-floating {
  position: relative;
  top: 0px;
}

section.galeria a.btn-floating.prev {
  right: 0px;
}

section.galeria a.btn-floating.next {
  left: 0px;
}

section.coverInternas {
  background-image: url(../assets/Banners/QuienesSomos.jpg);
  background-position-y: -238px;
}

section.info p {
  font-size: 18px;
}

section.bannerAzul {
  height: 250px;
  background-color: #0060a2;
}

section.bannerAzul h2 {
  margin: 0;
  font-size: 5.5em;
  color: white;
}

section.features h3 {
  font-size: 2em;
  color: #394d7c;
}

section.features p {
  font-size: 18px;
}

section.coverInternasP {
  background-image: url(../assets/Banners/pqrsf.jpg);
  background-position: center;
  background-size: cover;
  height: 420px;
}

section.coverInternasP div.wrap {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #101831);
}

section.coverInternasP div.wrap h1 {
  font-size: 6.2em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

section.pqrsf hr.Barra {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-bottom: 1.5rem;
}

section.pqrsf button {
  background-color: #0060a2;
  border-color: #0060a2;
}

section.pqrsf button:hover {
  background-color: #004d80;
  border-color: #004d80;
}

.px-6 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}

.mb-6 {
  margin-bottom: 7.2rem !important;
}

/* 1200px */
/* 992px */
@media (max-width: 992px) {
  .mb-6 {
    margin-bottom: 1rem !important;
  }
}

/* 768px */
/* 576px */
section.coverInternasPro {
  background-image: url(../assets/Banners/propietarios.jpg);
  background-position: center;
  background-size: cover;
  height: 420px;
}

section.coverInternasPro div.wrap {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #101831);
}

section.coverInternasPro div.wrap h1 {
  font-size: 6.2em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

section.propietarios h2 {
  color: #0060a2;
  font-size: 4.5em;
}

section.propietarios hr.Barra {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-bottom: 1.5rem;
}

section.propietarios div.text p {
  font-weight: 500;
  font-size: 18px;
  width: 600px;
}

.px-6 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}

/* 1200px */
/* 992px */
@media (max-width: 992px) {
  section.propietarios h2 {
    text-align: center !important;
    font-size: 2.5em;
  }
  section.propietarios hr.Barra {
    display: none;
  }
  .px-6 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

/* 768px */
/* 576px */
@media (max-width: 576px) {
  section.coverInternasPro div.wrap {
    height: 420px !important;
    padding-bottom: 3em !important;
  }
  section.coverInternasPro div.wrap h1 {
    font-size: 3.2em;
  }
  .px-6 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

section.coverInternasI {
  background-image: url(../assets/Banners/inquilinos.jpg);
  background-position: center;
  background-size: cover;
  height: 420px;
}

section.coverInternasI div.wrap {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #101831);
}

section.coverInternasI div.wrap h1 {
  font-size: 6.2em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

section.coverInternasI div.wrap p {
  margin-top: -0.5em;
  font-size: 1.2em;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

section.inquilinos h2 {
  color: #0060a2;
  font-size: 4.5em;
}

section.inquilinos hr.Barra {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-bottom: 1.5rem;
}

section.inquilinos p.textTenerEnCuenta {
  font-weight: 500;
}

.px-6 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}

.pl-6 {
  padding-left: 19rem !important;
}

/* 1200px */
/* 992px */
@media (max-width: 992px) {
  section.inquilinos h2 {
    text-align: center !important;
    font-size: 2.5em;
  }
  section.inquilinos hr.Barra {
    display: none;
  }
  .px-6 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

/* 768px */
/* 576px */
@media (max-width: 576px) {
  section.coverInternasI div.wrap {
    height: 420px !important;
    padding-bottom: 3em !important;
  }
  section.coverInternasI div.wrap h1 {
    font-size: 4.2em;
  }
  section.coverInternasI div.wrap p {
    font-size: 1em;
  }
  .px-6 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
/*# sourceMappingURL=style.css.map */